

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.operator {
    display: block;
    padding: 10px 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.operator:hover {
    background-color: blue;
}
.dropdown-operator {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-operator a {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
}
.dropdown-operator a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-operator{
    display: block;
}